.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    border: 1px solid #ff477e;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
    backdrop-filter: blur(5px);

    .input-container {
      label {
        margin-bottom: 5px;
        display: block;
        margin-bottom: 2px;
        font-weight: bold;
      }

      input {
        all: unset;
        border: 1px solid #ccc;
        width: 220px;
        height: 30px;
        padding: 2px;
        border-radius: 8px;
        margin-bottom: 20px;
      }

      textarea {
        border: 1px solid #ccc;
        width: 220px;
        background: transparent;
        height: 30px;
        outline: none;
        color: white;
        padding: 2px;
        border-radius: 8px;
        margin-bottom: 20px;
      }

      select {
        border: 1px solid #ccc;
        width: 220px;
        margin-bottom: 20px;
        padding: 4px;
        height: 30px;
        background-color: transparent;
        color: white;
        border-radius: 8px;

        option {
          color: black;
        }
      }
    }

    .generate-link {
      all: unset;
      cursor: pointer;
      width: 220px;
      height: 40px;
      border-radius: 8px;
      text-align: center;
      border: 1px solid #ff477e;
      position: relative;
      overflow: hidden;
      transition: 0.3s all ease;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #ff477e;
        transition: 0.3s all ease;
        z-index: -1;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        letter-spacing: 3px;
        box-shadow: 0 0 10px white;
      }
    }
  }

  .results {
    backdrop-filter: blur(5px);
    border: 1px solid #ff477e;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-size: 10px;

    button {
      all: unset;
      cursor: pointer;
      width: 40px;
      color: white;

      svg {
        transition: 0.3s all ease;

        &:hover {
          color: #aaa;
        }
      }
    }

    a {
      cursor: pointer;
      color: blue;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: left;
      // align-items: left;
      width: 200px;

      button {
        margin-top: 10px;
      }
    }
  }
}
